@charset "UTF-8";

@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}



body{
  background-color: black;
  font-weight: bold;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.successTitle{

      font-size: 75px;
      text-align: center;
      color:#FFE20A;

}

.successDiv{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFE20A;
  border-radius: 15px;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.imgDiv{
  position: relative;
  display: grid;
  height: 100%;

  z-index: 0;

}

.deathstar{
  max-width: 100%;
  max-height: 100vh;
   margin: auto;
}
form{
	display: inline;
}

.btn{
	
	margin-bottom: 10px;
	width: 35%;
	background-color: #112D4E;
	color: #FFE20A !important;
	
}
